@import '../../../scss/variables.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';
@import '../../../scss/mixins/reset.scss';

.container {
  background: $black-theme;
  display: flex;
  flex-wrap: wrap;
}
