@import '../../../scss/variables.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';
@import '../../../scss/mixins/reset.scss';

.container {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;

  @media (max-width: 1230px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 930px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
