@import '../../../scss/variables.scss';

.container {
  background-color: $block-background;
  margin: 24px;
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden;

  .container_header {
    display: flex;
    justify-content: center;
  }

  .spec {
    text-align: center;
  }
}

.chapters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin: 15px;

  .chapter {
    display: flex;
    justify-content: space-between;

    &:hover {
      color: #995454;
    }

    .date {
      color: $sub-gray;
    }
  }
}
