@import '../variables.scss';
@mixin basic-text {
  color: $main-white;
  font-family: $font-family-exo2;
  font-style: normal;
  line-height: normal;
}

@mixin textRegular-16 {
  @include basic-text();
  font-size: 16px;
  font-weight: $font-weight-regular;
}
@mixin textSemibold-16 {
  @include basic-text();
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
}

@mixin textMedium-40 {
  @include basic-text();
  color: $main-blue;
  font-size: 40px;
  font-weight: $font-weight-regular;
}

@mixin textBold-9 {
  @include basic-text();
  font-size: 9px;
  font-weight: $font-weight-bold;
}

@mixin textBold-45 {
  @include basic-text();
  font-size: 45px;
  font-weight: $font-weight-bold;
}

@mixin textSemibold-22 {
  @include basic-text();
  font-size: 22px;
  font-weight: $font-weight-semi-bold;
}

@mixin textRegular-18 {
  @include basic-text();
  font-size: 18px;
  font-weight: $font-weight-regular;
}
