@import '../../../scss/variables.scss';

.custom {
  background-color: $block-background;
  border: none;
  cursor: pointer;
  height: 36px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 36px;
}
.filled {
  background-color: $black-header;
  border: none;
  cursor: pointer;
  height: 36px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 36px;
}
