.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  max-width: 100%;
}

.advanced {
  display: flex;
  justify-content: center;
}
