@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins/utils.scss';
@import '../../../../scss/mixins/text.scss';
@import '../../../../scss/mixins/reset.scss';

.item {
  @include textBold-12();
  display: flex;
  .image_block {
    .imgs_fetching {
      height: 130px;
      width: 220px;
    }
    .image {
      height: 190px;
      width: 140px;

      &:hover {
        border: 4px solid rgb(0, 0, 0);
        box-shadow: 0 15px 40px -10px rgb(97, 10, 155);
      }
    }
  }
  .infocontainer {
    display: flex;
    align-items: center;
    background-color: $black-header;
    padding: 0 15px;
    height: 190px;
    max-width: 347px;
    width: 100%;

    .content_raiting {
      color: $sub-gray;
      margin-bottom: 15px;
    }
    .titlename {
      overflow: hidden;

      // text-align: center;
      text-overflow: ellipsis;
      white-space: wrap;
    }
    .statistic_containter {
      .stats {
        margin-right: 16px;
        font-size: 11px;
      }
    }
  }
}
.container {
  @include appearances();
}
