.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .mainh1 {
    align-self: flex-start;
    font-size: 40px;
  }
}

.layout_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.layout {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
}
.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.upper {
  display: flex;
  align-self: flex-start;
}
