@import '../../../scss/mixins/text.scss';
@import '../../../scss/variables.scss';
@import '../../../scss//mixins/reset.scss';

.header {
  background-color: #232323;
  max-width: 100%;
}

.header_nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 24px;
}

.title {
  @include textMedium-40();
  letter-spacing: 2px;
}
