@import '../../../scss/variables.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';
@import '../../../scss/mixins/reset.scss';

.data_container {
  color: #ffffff;
  display: flex;
  margin-top: 0.5rem;
  max-width: 220px;
  position: absolute;
  z-index: 1000;

  @media (min-width: 640px) {
    width: 75%;
  }

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.container_search {
  display: flex;
}
