@import '../../../scss/mixins/text.scss';
@import '../../../scss/variables.scss';
@import '../../../scss//mixins/reset.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}
.search_content {
  display: flex;
  flex-direction: row;
}

.advanced_close {
  animation-duration: 0.2s;
  height: 0;
  opacity: 0;
  width: 0;
  transform-origin: bottom;
  transition:
    height 0.2s,
    opacity 0.2s,
    transform 0s 0.2s;
  visibility: hidden;
}

.advanced_inputs {
  animation-duration: 0.2s;
  background-color: $block-background;
  height: 400px;
  opacity: 1;
  transform-origin: top;
  transition:
    height 0.2s,
    visibility 0.2s,
    opacity 0.2s,
    transform 0s 0.2s;
  visibility: visible;
  max-width: 990px;
  width: 100%;

  @media (max-width: 1230px) {
    width: 800px;
  }
  @media (max-width: 930px) {
    height: 450px;
    width: 600px;
  }
  @media (max-width: 730px) {
    height: 570px;
    width: 400px;
  }
  @media (max-width: 420px) {
    height: 1100px;
    width: 200px;
  }
}

.checkboxs {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;

  li {
    flex: 0 0 16.666667%;
    margin: 7px 0 8px;
    padding: 0 15px;

    // input:checked {

    // }
  }
  label {
    padding-left: 5px;
  }
}
