@import '../../../scss/mixins/text.scss';
@import '../../../scss/variables.scss';
@import '../../../scss//mixins/reset.scss';

.container {
  display: flex;
  flex-direction: column;
}
.search_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input_side {
  display: flex;
  flex-direction: row;
  max-width: 865px;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 15px;
}
.advanced_close {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform-origin: bottom;
  transition:
    height 0.2s,
    opacity 0.2s,
    transform 0s 0.2s;
  animation-duration: 0.2s;
}
.advanced_inputs {
  opacity: 1;
  visibility: visible;
  width: 900px;
  height: 500px;

  background-color: $block-background;
  transform-origin: bottom;
  transition:
    height 0.2s,
    visibility 0.2s,
    opacity 0.2s,
    transform 0s 0.2s;
  animation-duration: 0.2s;
}
.checkboxs {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  li {
    margin: 7px 0 8px;
    padding: 0 15px;
    flex: 0 0 16.666667%;
    // input:checked {

    // }
  }
}
