@import '../../../../../scss/variables.scss';

.container {
  display: flex;
  flex-direction: row;
}
.button {
  height: 100%;
  border: 0;
  background-color: $black-theme;
  &:focus {
    visibility: hidden;
  }
  &:hover {
    background-color: $sub-gray;
    color: $black-theme;
    cursor: pointer;
  }
}

.image {
  height: 100%;
}
