@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.input {
  @include reset-input();
  @include focus();
  @include textRegular-16();
  background-color: rgb(67, 66, 66);
  color: rgb(255, 255, 255);
  height: max-content;
  padding: 8px 12px;
  width: 220px;

  &:disabled {
    pointer-events: none;
  }
  &:focus {
    background-color: #232323;
  }

  &::placeholder {
  }
}

.icon {
  @include vertical-center();
  left: 12px;
}

.icon_input {
  padding-left: 35px;
}

.container {
  position: relative;
  width: max-content;
}
