// COLORS

$main-blue: #1b6fa8;
$main-black: #000000;
$main-white: #f5f5f5;

// FOLDER COLORS
$sub-gray: #a9a9a9;
$black-theme: #171717;
$block-background: #0f0f0f;
$black-header: #232323;
// FONTS

$font-family-lato: 'Lato', monospace;
$font-family-exo2: 'Exo 2', sans-serif;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// SHADOWS
$basic-box-shadow:
  0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER

$footer-border: 1px inset #96969673;
$search-border: 1px solid #d7d7d7;
