@import '../../../scss/mixins/text.scss';
@import '../../../scss/variables.scss';
@import '../../../scss//mixins/reset.scss';

.footer_container {
  background-color: $black-theme;
  max-width: 100%;
  border-top: $footer-border;
}
.box_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
