@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins/utils.scss';
@import '../../../../scss/mixins/text.scss';
@import '../../../../scss/mixins/reset.scss';

.item {
  @include textBold-9();
}

.image_block {
  .imgs_fetching {
    height: 280px;
    width: 186px;
  }

  .image {
    height: 280px;
    width: 186px;

    &:hover {
      border: 4px solid rgb(0, 0, 0);
      box-shadow: 0 15px 40px -10px rgb(97, 10, 155);
    }
  }
}

.infocontainer {
  background: $black-theme;
  height: 41px;
  width: 186px;

  .average {
    color: $sub-gray;
  }

  .titlename {
    overflow: hidden;

    // text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.container {
  @include appearances();
}
